    <div class="steppers-container row">
  
    <div class="col-md-12 col-lg-8 col-xxxl-6">
      <nb-card size="large">
        <nb-card-body>
          <nb-stepper orientation="vertical">
            <nb-step label="First step">
              <h3>Notion genearle</h3>
              <p class="lorem">
                Pour être admis à l'ENICarthage, les candidats doivent avoir obtenu une moyenne générale annuelle d'au moins 10 dans leurs études précédentes.
            </p>
              <button nbButton disabled nbStepperNext>précedent</button>
              <button nbButton nbStepperNext>suivant</button>
            </nb-step>
            <nb-step label="Second step">
              <h3>Moyenne Générale</h3>
              <p class="lorem" style="color: red;font: bold;">
                >10
            </p>
              <p class="lorem">
                Pour être admis à l'ENICarthage, les candidats doivent avoir obtenu une moyenne générale annuelle d'au moins 10 dans leurs études précédentes.
                Les cours à l'ENICarthage sont exigeants et visent à assurer que les étudiants acquièrent une solide compréhension des concepts enseignés.
            </p>
              <button nbButton nbStepperPrevious>précedent</button>
              <button nbButton nbStepperNext>suivant</button>
            </nb-step>
            <nb-step label="Third step">
              <h3>Moyenne par module</h3>
              <p class="lorem" style="color: red;font: bold;">
                >10
            </p>
              <p class="lorem">
                Les étudiants doivent également avoir obtenu une moyenne minimale de 10 dans chaque module ou discipline spécifique au cours de leurs études précédentes.
                Cette exigence garantit que les étudiants possèdent une connaissance équilibrée et approfondie dans tous les domaines de leur programme d'études.
            </p>
              <button nbButton nbStepperPrevious>précedent</button>
              <button nbButton nbStepperNext>suivant</button>
            </nb-step>
            <nb-step label="Fourth step">
              <h3>Crédit Minimal</h3>
              <p class="lorem" style="color: red;font: bold;">
                >54
            </p>
              <p class="lorem">
                Les étudiants doivent avoir cumulé au moins 54 points de crédits pour être éligibles à l'obtention du diplôme de l'ENICarthage.
                Ces crédits sont obtenus grâce à la réussite des cours requis dans le programme d'études choisi par l'étudiant.
            </p>
              <button nbButton nbStepperPrevious>précedent</button>
              <button nbButton disabled nbStepperNext>suivant</button>
            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xxxl-6">
          <nb-card>
            <nb-card-body>
              
            </nb-card-body>
          </nb-card>
        </div>   
  </div>
  