<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="contact-detail-box">
            <i class="fa fa-th fa-3x text-colored"></i>
            <h4>Entrer en contact</h4>
            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;(+216)71 941 579 / (+216)71 940 699<br>
            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; <a href="enicarthage@enicarthage.rnu.tn" class="text-muted">enicarthage@enicarthage.rnu.tn</a>
          </div>
        </div><!-- end col -->

        <div class="col-sm-4">
          <div class="contact-detail-box">
            <i class="fa fa-map-marker fa-3x text-colored"></i>
            <h4>Notre emplacement</h4>

            <i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;
            45 Rue des Entrepreneurs 2035<br>
            Charguia II Tunis- Carthage-Tunisie<br>
         
          </div>
        </div><!-- end col -->

        <div class="col-sm-4">
          <div class="contact-detail-box">
            <i class="fa fa-book fa-3x text-colored"></i>
            <h4>Ecole d'Ingenieur</h4>

            <p>Ecole Nationale d'Ingenieur de Carthage</p>
          </div>
        </div><!-- end col -->

      </div>
      <!-- end row -->


      <div class="row">
        <div class="col-sm-8">
          <div class="contact-map" style="margin-left:40px">
            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Enicarthage+(Enicarthage)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" style="width: 730px; height: 420px;margin-top: -10px;"></iframe>
          </div>
        </div><!-- end col -->

        <!-- Contact form -->
        <div class="col-sm-4">
            <br>
            <div class="single_address">
                <i class="fa fa-user"></i>
                <h4>Directeur</h4>
                <p>Hassen Zairi</p>
            </div>
            <div class="single_address">
                <i class="fa fa-envelope"></i>
                <h4>Adresse E-mail</h4>
                <p>hassen.zairi@enicarthage.rnu.tn</p>
            </div>
            <div class="single_address">
                <i class="fa fa-phone"></i>
                <h4>Telephone</h4>
                <p>( +216 ) 71 941 579</p>
            </div>
            <div class="single_address">
                <i class="fa fa-clock-o"></i>
                <h4>Temps de travail</h4>
                <p>Lun - Ven: 08.00 - 16.00. <br>Sam: 10.00 - 14.00</p>
            </div>					
        </div>

      </div> 
      <br>
     
          
    </div>

