<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row flex-lg-nowrap">

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;"><img src="/assets/photos/admin.jfif" width="140px"></span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{etudiant.prenom}} {{etudiant.nom}}</h4>
                    <p class="mb-0">{{etudiant.email}}</p>
                    <div class="text-muted"><small>N° tel :{{etudiant.tel}}</small></div>
                    <div class="mt-2">
                      <button class="btn btn-primary" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span></span>
                      </button>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">{{etudiant.typeFormation}}</span>
                    <div class="text-muted"><small>{{etudiant.dateNaiss}}</small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Configuration</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                    <form class="form" novalidate (ngSubmit)="onSubmit()">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Prenom</label>
                                  <input class="form-control" type="text" name="prenom" [(ngModel)]="etudiant.prenom">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Nom</label>
                                  <input class="form-control" type="text" name="nom" [(ngModel)]="etudiant.nom">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Email</label>
                                  <input class="form-control" type="email" name="email" [(ngModel)]="etudiant.email">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Changer votre mot de passe</b></div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Mot de passe actuelle</label>
                                  <input class="form-control" type="password" placeholder="••••••" name="oldPassword" [(ngModel)]="oldPassword">
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Nouvelle mot de passe</label>
                                <input class="form-control" type="password" placeholder="••••••" name="accPassword" [(ngModel)]="accPassword">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Confirmation du mot de passe <span class="d-none d-xl-inline" ></span></label>
                                <input class="form-control" type="password" placeholder="••••••" name="confirmePassword" [(ngModel)]="confirmePassword"></div>
                            </div>
                          </div>
                        </div>
                          <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                            <div class="mb-2"><b>Information supplementaire</b></div>
                            <div class="row">
                              <div class="col">
                                <label>Genre</label>
                                <div class="custom-controls-stacked px-2">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notifications-blog" name="genre" [checked]="etudiant.genre === 'Homme'">
                                    <label class="custom-control-label" for="notifications-blog">Homme</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="notifications-news" name="genre" [checked]="etudiant.genre === 'Femme'">
                                    <label class="custom-control-label" for="notifications-news">Femme</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Valider Les changements</button>
                          </div>
                        </div>
                      </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <button class="btn btn-block btn-secondary" (click)="deconnexion()">
                <i class="fa fa-sign-out"></i>
                <span>Deconnexion</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">Support</h6>
            <p class="card-text">Nous pouvons vous aider rapidement.</p>
            <button type="button" class="btn btn-primary" routerLink="/admin/contact">Contactez Nous</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>